body {
  background: #eeebeb;
}

img {
  border-radius: 15px;
}

img:hover {
  cursor: pointer;
  transform: scale(2);
}

.table-responsive {
  /*height: 500px;
  overflow: scroll;*/
  margin-bottom: 150px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
